body {
    background-color:black;
 
    /* background: rgb(33,33,58);
background: linear-gradient(114deg, rgba(33,33,58,1) 10%, rgba(25,25,59,1) 25%, rgba(0,138,255,1) 100%);*/
    color: white; 
    font-family: "Courier New", "Courier New", monospace;
}

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 50em
}

#footer .twitter {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  #footer .linkedin {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -78px 0;
  }
  #footer .facebook {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -233px 0;
  }
  #footer .skype {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -156px 0;
  }
  /* #footer .flickr {
    background-image: url(http://manstyle.coralixthemes.com/dark/img/dark/icons/footer-icons.png);
    background-repeat: no-repeat;
    background-position: -310px 0;
  } */
  #footer a {
    height: 56px;
    width: 56px;
    display: inline-block;
    margin: 10px;
  }
  #footer a:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }
  #footer .twitter:hover {
    background-position: 0 -56px;
  }
  #footer .facebook:hover {
    background-position: -233px -56px;
  }
  #footer .skype:hover {
    background-position: -156px -56px;
  }
  #footer .linkedin:hover {
    background-position: -78px -56px;
  }
  #footer .flickr:hover {
    background-position: -310px -56px;
  }
  .bg-dark-1{
     background-color:black;
     /*
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    */
  }
   